<h1>Help</h1>
<p>
  For any kid of help please look around Google you will find many resources to learn Ruby on rails.
  My suggesstion plz refer <a href="http://www,railstutorial.org/book"><em>Michael hartl Book</em></a>
</p>
